@font-face {
  font-family: ucco;
  src: url(fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff);
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: ucco;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} */
#main {
  width: 100%;
  position: relative;
  overflow: hidden;
}
nav {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 3vw;
  position: fixed;
  z-index: 99;
  mix-blend-mode: difference;
}
.left-part {
  width: fit-content;
  height: 2vw;
  overflow: hidden;
}
.left-part h1 {
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.1;
  color: white;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.left-part:hover h1 {
  transform: translateY(-100%);
}
.right-part {
  width: fit-content;
  height: 1.2vw;
  overflow: hidden;
}
.right-part h2 {
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: white;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.right-part:hover h2 {
  transform: translateY(-100%);
}
#container-first {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: black;
  overflow: hidden;
}
.containt-part1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.rotate-div {
  display: flex;
  align-items: center;
  gap: 3vw;
  width: 200%;
  height: 200%;
  margin-left: -30%;
}
.row-div {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
  justify-content: center;
  width: calc(200vw / 5);
  height: 100%;
}
.row-div:nth-child(1) {
  margin-top: -5%;
}
.row-div:nth-child(2) {
  margin-top: -10%;
}
.row-div:nth-child(3) {
  margin-top: -15%;
}
.row-div:nth-child(4) {
  margin-top: -20%;
}
.img-div {
  width: 100%;
  height: calc(100% / 4);
  background-color: gray;
  border-radius: 5px;
  overflow: hidden;
}
.img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlaye {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containt-part1 h1 {
  font-size: 10vw;
  color: white;
  z-index: 9;
  opacity: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.scroll-div {
  position: absolute;
  z-index: 9;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.scroll-div h5 {
  font-size: 0.5vw;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
}
.scroll-div .upper-line {
  width: 100%;
  margin-top: 10%;
  height: 20%;
  position: absolute;
  background-color: rgba(189, 187, 187, 0.82);
  top: 100%;
  left: 0%;
  overflow: hidden;
  border-radius: 2px;
}
.inner-line {
  width: 0%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
/* --------------container-second------------------ */
#container-second {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}
.round-wraper {
  width: 100%;
  height: 100px;
  background-color: transparent;
  position: relative;
  transform: translateY(-100%);
}
.round-div {
  width: 150%;
  height: 750%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.text-area {
  width: 100%;
  margin: 30% 2% 7% 2%;
  position: relative;
  z-index: 10;
}
.text-area .lin-text h1 span {
  font-size: 6.5vw;
  line-height: 1.2;
  letter-spacing: -0.6px;
  color: #e0e0e1;
}
.text-area .lin-text h2 span {
  font-size: 6.5vw;
  line-height: 1.2;
  letter-spacing: -0.6px;
  color: #e0e0e1;
}
.text-area .lin-text:nth-child(2) {
  padding-left: 5vw;
}
.btn-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw;
}
.tbn-left h5 {
  font-size: 1.3vw;
  font-weight: 100;
  color: #b0b0b0;
}
.btn-right{
  display: flex;
}
.btn-conut{
  display: flex;
}
.btn-conut .btn {
  width: 170px;
  height: 50px;
  margin-left: 30px;
  border-radius: 25px;
  border: none;
  background-color: #e0e0e1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}
.btn-conut .btn h4{
  font-size: 1.2vw;
  transform: translateY(80%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1).5s;
}
.btn-conut .btn:nth-child(1) {
  background-color: black;
  color: white;
}
.btn-conut .btn:hover h4{
  transform: translateY(-80%);
}
.logo-nav {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vw;
  margin-top: 2vw;
}
.logo-nav .nav-img {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-nav .nav-img img {
  width: 80%;
  height: 80%;
}
#container-third {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 5px;
}
#container-third .cover{
  width: 100%;
  height: 100%;
  margin-top: 150px;
  display: flex;
  align-items: center;
  letter-spacing: 0px;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  overflow: hidden;
}
#container-third .cover .text-box-left{
  height: 100%;
  width: 50%;
}
#container-third .cover .text-box-left h1{
  font-size: 6vw;
}
.rotating-symbol{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  width: 12%;
  margin-top: 50px;
  opacity: .8;
  height: 10%;
  border-radius: 50%;
  margin-left: 2px;
}
.rotating-symbol img{
  width: 30%;
  height: 30%;
}
#container-third .cover .text-box-right{
  width: 50%;
  overflow: hidden;
  position: relative;
  padding: 30px;
  position: absolute;
  right: 0%;
  top: 100%;
}
#container-third .cover .text-box-right .para-cover{
  margin-bottom: 200px;
}
#container-third .cover .text-box-right .para-cover h1{
  font-size: 2.5vw;
  margin-bottom: 60px;
}
#container-third .cover .text-box-right .para-cover p{
  font-size: 1.5vw;
  line-height: 2;
  color: gray;
}
#container-four{
  width: 100%;
  height: 100vh;
  background-color: lightblue;
}

/*! page3 */

#page3{
  position: relative;
  height: 80vh;
  width: 100%;
  background-color: #fff;
  padding-top: 10vw;
}
#page3 .wrapp{
  position: relative;
}
#page3 .wrapp .over2{
  width: 100%;
  height: 100%;
  background-color:#ffffffd2;
  position: absolute;
  right: 0;
  top: 0;
}
#page3 h1{
  font-size: 7vw;
  text-align: center;
  font-weight: 500;
  letter-spacing: -5px;
}
#round2{
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
}
#circle2{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  top: 0;
  width: 110%;
  height: 200%;
  border-radius: 50%;
  background-color: #fff;
}


#page4{
  min-height: 100vh;
  width: 100%;
  background-color: #F5F5F5;
  padding: 10vw 3vw;
}
#page4 .wrap3{
  position: relative;
}
#page4 .wrap3 .over3{
  width: 100%;
  height: 100%;
  background-color:#f5f5f589;
  position: absolute;
  right: 0;
  top: 0;
}
#page4 .wrap3:nth-child(2){
  margin-bottom: 8vw;
}
#page4 h1{
  font-size: 7vw;
  font-weight: 500;
  letter-spacing: -5px;
  line-height: 1.4;
}
#page4 .elem{
  height: 85vh;
  width: 100%;
}
#page4 .elem .top{
  width: 100%;
  height: 30%;
  display: flex;
  border-top: 1px solid rgba(128, 128, 128, 0.867);
  border-bottom: 1px solid rgba(128, 128, 128, 0.867);
}
#page4 .elem .top .top-pt{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.top .top-pt h2{
  font-size: 5vw;
  font-weight: 500;
  letter-spacing: -5px;
}
#page4 .elem .down{
  width: 100%;
  height: 70%;
  padding-left: 50%;
}

#page4 .elem .down h4{
  font-size: 2.2vw;
  font-weight: 500;
  letter-spacing: -1px;
  margin:2.5vw 0 3vw ;
}
#page4 .down h3{
  font-size: 1.7vw;
  margin: 1vw 0;
  font-weight: 500;
  letter-spacing: -1px;
  opacity: .5;
}
#page5{
  height: 100vh;
  width: 100%;
  background-color: #0D0D11;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page5 #center{
  position: relative;
  width: 60%;
  height: 63%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page5 #center #img-container{
  width: 100%;
  height: 100%;
  background-color: rgb(24, 24, 61);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page5 #center #overlay-ig{
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
#page5 #center #overlay-ig .cover1{
  width: 100%;
  height: 52%;
  background-color: #0D0D11;
  position: absolute;
  top: -1%;
  left: 0;
  z-index: 1;
}
#page5 #center #overlay-ig .cover2{
  width: 100%;
  height: 52%;
  background-color: #0D0D11;
  position: absolute;
  bottom: -1%;
  left: 0;
  z-index: 1;
}

#page5 #center #center-txt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: #fff;
  font-size: 7vw;
  display: flex;
  gap:1vw;
}
#page5 #center #center-txt span{
  letter-spacing: -5px;
}

#page6{
  height: 100vh;
  width: 100%;
  background-color: #F5F5F5;
  display: flex;
}
#page6 #lf6{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page6 #lf6 h1{
  font-size: 18vw;
  font-weight: 500;
  letter-spacing: -2vw;
  line-height: .8;
}
#page6 #lf6 h4{
  font-size: 2.5vw;
  font-weight: 500;
  letter-spacing: -2px;
  opacity: .5;
}
#page6 #rt6{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
#page6 #rt6 >h5{
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 1.5;
}
#page6 #rt6 p{
  font-size: 1.2vw;
  width: 60%;
  opacity: .5;
  margin: 2vw 0;
  line-height: 1.5;
}

#footer{
  height: 100vh;
  width: 100%;
  background-color: #0D0D11;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer h1{
  font-size: 7vw;
  font-weight: 500;
  letter-spacing: -5px;
  opacity: .7;
}
#footer p{
  font-size: 1.3vw;
  width: 35%;
  text-align: center;
  opacity: .4;
  margin: 2vw 0;
}
#footer .btn{
  background-color: #E1E1E1;
}

